*,
*::before,
*::after {
  box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin: 0;
  padding:0;
}

a {
  text-decoration: none;
}

body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;

}
img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-nav-link {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  padding: 24px 0;
  margin: 0;
  
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-nav-link:active {
  color: #404BBF;
}


.header-nav__logo-iris-link {
  font-family: "Raleway", sans-serif;
  color: #4D5AE5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-nav__logo-navy-link {
  color: #2E2F42;
}

.header-nav-list{
 display: flex;
  gap: 40px;
  padding: 24px 0;
  margin: 0;
}

address {
  font-style: normal;
}

.header-address-list {
  display: flex;
  gap: 40px;
  padding: 24px 0 24px;
  margin: 0;
  
}

/* .header-address-item:first-child {
  
} */

.header-address-item:last-child {
  margin-right: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-address-link {
  color: #434455;
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0.02em;
  font-style: normal;
}

.header-address-link:hover,
.header-address-link:focus {
color: #404BBF;
}
header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #e7e9fc;

}

.header-container {
  display: flex;
}


.hero {
  background-color: #2E2F42;
  padding: 188px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: #FFFFFF;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
}

.hero-button{
background: #4D5AE5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #FFFFFF;
display: block;
cursor: pointer;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
margin-right: auto;
margin-left: auto;
}

.hero-button:hover,
.hero-button:focus {
  background: #404BBF;
}

/* .button-text{

} */

.company {
  padding: 120px 0;
}

.company-list {
  display: flex;
  gap: 24px;
}

.company-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2E2F42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.company-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

.company-item {
  width: calc((100% - 72px) / 4);
}

.team {
  background-color:#F4F4FD;
  padding: 120px 0;
}

.team-title {
  text-transform: capitalize;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
} 
.team-item {
background: #FFFFFF;
  border-radius: 0px 0px 4px 4px; 
  width: calc((100% - 72px) / 4);
}
  

.team-specialist {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
text-align: center;
margin-bottom: 8px;
}

.team-job {
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
text-align: center;
}

.team-container {
  padding: 32px 0;
}
.portfolio {
  padding-bottom: 120px;
  padding-top: 120px;
} 
.portfolio-title {
  text-transform: capitalize;
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
margin-bottom: 72px;
}
 .portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
} 
 .portfolio-item {
  width: calc((100% - 48px) / 3);
} 

.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* .portfolio-img {
} */
.portfolio-subtitle {
  font-family: var(--font-family);
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
margin-bottom: 8px;
}
.portfolio-text {
  font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.footer {
  background: rgba(46, 47, 66, 1);
  padding: 100px 0;
}
.footer-logo-iris-link {
  font-family: "Raleway", sans-serif;
  color: #4D5AE5;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-navy-link {
  color: #F4F4FD;
}
.fotter-text {
  font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
max-width: 264px;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}